# Test1

In [1]:
import cufflinks as cf
df = cf.datagen.lines()

In [2]:
df.head()

              MXG.VB    PZN.HE    AXU.UI    ESD.FW    AMM.PQ
2015-01-01  1.389986 -0.034130  0.030130  0.017788 -0.979965
2015-01-02  0.630551 -0.791366 -1.209354 -0.138271 -0.712772
2015-01-03  1.135169 -0.790191 -0.327498 -0.391465 -0.129237
2015-01-04  0.530649  1.833701 -2.309952 -0.724280 -0.285290
2015-01-05  0.971822  2.070774 -3.288536 -1.422594  0.338101

In [3]:
df['date'] = df.index

In [4]:
df.head()

              MXG.VB    PZN.HE    AXU.UI    ESD.FW    AMM.PQ       date
2015-01-01  1.389986 -0.034130  0.030130  0.017788 -0.979965 2015-01-01
2015-01-02  0.630551 -0.791366 -1.209354 -0.138271 -0.712772 2015-01-02
2015-01-03  1.135169 -0.790191 -0.327498 -0.391465 -0.129237 2015-01-03
2015-01-04  0.530649  1.833701 -2.309952 -0.724280 -0.285290 2015-01-04
2015-01-05  0.971822  2.070774 -3.288536 -1.422594  0.338101 2015-01-05

# Test 2

In [ ]:

test3

In [2]:
while True:
    pass

KeyboardInterrupt: